* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}



body {
  background: #1c1b1a;
}

header, footer {
  background: #e7c213;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  text-transform: uppercase;
}

main {
  width: min(950px, 90%);
  margin: auto;
  color: white;
  text-align: justify;
}

main .info-initial {
  padding: 15px;
  text-indent: 1rem;
}

tr,
td,
table {
  border: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

table tr .title {
    background: #e7c213;
}

table .index {
    background: white;
    color: #1c1b1a;
}

.container-table {
  display: flex;
  justify-content: center;
  margin: 25px;
}


.aquisition {
    margin-top: 25px;
    background: #e7c213;
    color: #1c1b1a;
    padding: 20px;
}

.btn-pay {
    display: flex;
    justify-content: center;
}

.aquisition .btn {
    text-decoration: none;
    background: #1c1b1a;
    color: white;
    padding: 20px;
    border-radius: 5px 10px;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
}

.aquisition .btn:hover {
    text-decoration: none;
    background: white;
    color: #1c1b1a;

}

img {
    max-width: 350px;
}

.images {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.title-card {
    margin-bottom: 10px;
    text-align: center;
}

@media(max-width: 600px) {

    img {
        width: 100%;
    }

    .images {
       flex-direction: column;
    }
}